<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="WebSocketMiddlewareUrl" value="ws://localhost:5005/stream" />
    <add key="CommandPipeName" value="TourmalinePipe"/>
    <add key="StreamWidth" value="800"/>
    <add key="StreamHeight" value="600"/>
    <add key="StreamFPS" value="20"/>
    <add key="CompressionQuality" value="75"/>
    <add key="StreamBufferSize" value="10"/>
  </appSettings>
</configuration>